<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <!--The ruby code below pulls the variable @tasks from the 
  controller which contains all our saved tasks, and creates
  a loop which says for each task, make a new table row, with all these different cells -->
    <% @tasks.each do |task| %>
      <tr>

        <td><%=  task.content %></td> 
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--Creates a link to the new task page using the route new_task -->
<%= link_to 'New Task', new_task_path %>
